* {
  margin: 1px;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 0px 0px;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  font-family: "Mukta", sans-serif;
  background-image: url("../img/bg.jpg");
  color: #c6c6c6;
  background-size: contain; }

.imgIndex {
  transition: all 0.5s ease; }

.imgIndex:hover {
  margin-left: 2rem;
  transform: scale(1.5); }

main {
  grid-area: main;
  color: #ffffff;
  padding: 5px;
  border-top: #fca311 solid 4px;
  border-bottom: #fca311 solid 4px; }

.espaciado {
  padding: 230px 110px 230px 110px;
  background-image: url(../img/bgmain.jpg);
  background-position: 100%; }

/* HEADER */
header {
  grid-area: header;
  background-color: #000000;
  padding: 15px;
  margin: 5px 2px 0px 2px;
  height: 10rem; }
  header nav {
    line-height: 35px;
    font-family: "Rubik Distressed", cursive;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  header .navegador__item {
    text-decoration: none;
    color: #c6c6c6;
    border: #c6c6c6 inset 4px;
    padding: 5px 10px 5px 10px;
    opacity: 0.7;
    font-size: 1rem;
    margin-left: 2.5rem;
    list-style: none; }
    header .navegador__item:hover {
      opacity: 1;
      color: #c6c6c6; }
  header .bgSearch {
    background-color: #fca311;
    border: #c6c6c6 solid 1px;
    color: #000000;
    font-family: "Mukta", sans-serif;
    opacity: 0.7; }
    header .bgSearch:hover {
      background-color: #ffffff;
      opacity: 1; }

/*FOOTER*/
footer {
  grid-area: footer;
  padding: 10px;
  background-color: #000000; }

.zoom {
  transition: all 0.5s ease; }
  .zoom:hover {
    transform: scale(1.5); }

.navFoot {
  display: block;
  justify-content: flex-end;
  align-items: center;
  grid-area: navFoot;
  list-style: none; }

.navFoot__item {
  text-decoration: none;
  color: #c6c6c6;
  font-family: "Rubik Distressed", cursive;
  padding: 5px 10px 5px 10px;
  opacity: 0.7;
  font-size: 1rem; }
  .navFoot__item:hover {
    opacity: 1;
    color: #c6c6c6; }

.contenedorPlat {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 25% min-content;
  grid-template-areas: "imgPLatillo" "descPlatillo" "botPlat"; }

h2 {
  font-weight: normal;
  font-family: "Rubik Distressed", cursive;
  font-size: 40px;
  color: #c6c6c6; }

.secPlat__item__img {
  width: 300px;
  height: 250px;
  border: #fca311 double 4px;
  grid-area: imgPLatillo; }

.secPlat {
  border: #c6c6c6 inset 6px;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 0.5rem;
  width: min-content; }

.interlPlatillo {
  line-height: 23px;
  padding: 4px;
  margin: 10px; }

.secPlat__item__desc {
  width: 300px;
  text-align: justify;
  font-style: italic;
  font-size: 20px;
  padding: 5px;
  margin: 3px;
  grid-area: descPlatillo; }

.botPlat {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content;
  gap: 0px 0px;
  grid-template-areas: "lblCant lblCant can" "btnAgr btnAgr btnAgr";
  justify-content: center;
  margin-bottom: 40px;
  padding: 7px 0px 7px 0px;
  border: #fca311 dashed 1px;
  grid-area: botPlat; }

.secPlat__item__btnCan {
  grid-area: can;
  font-size: 1.5rem;
  width: 60px;
  height: 1.5rem;
  margin-top: 7px;
  margin-right: 10px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem; }

.secPlat__item__btnAdd {
  grid-area: btnAgr;
  width: 100%;
  border: #c6c6c6 3px solid;
  font-family: "Rubik Distressed", cursive;
  font-size: 1.5rem;
  background-color: #fca311;
  color: white;
  height: min-content;
  padding: 0px 4px 0px 4px;
  opacity: 0.7; }

.secPlat__item__btnAdd:hover {
  opacity: 1; }

.lblCant {
  font-size: 1.5rem;
  margin-right: 10px; }

.botoneraPlat {
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px; }

.inpPlat1 {
  border: #c6c6c6 3px solid;
  font-family: "Rubik Distressed", cursive;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #fca311;
  color: white;
  width: min-content;
  height: min-content;
  margin-left: 25px;
  margin-bottom: 30px;
  padding: 2px;
  margin-right: 10px;
  opacity: 0.7; }

.inpPlat2 {
  border: #000000 3px solid;
  font-family: "Rubik Distressed", cursive;
  font-size: 1rem;
  border-radius: 20px;
  background-color: none;
  color: #000000;
  width: min-content;
  height: min-content;
  margin-bottom: 30px;
  padding: 2px;
  margin-left: 10px;
  opacity: 0.7; }

.inpPlat1:hover {
  opacity: 1; }

.inpPlat2:hover {
  opacity: 1; }

.grillaCat {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content;
  grid-template-areas: "bloqImgCat" "bloqTextCat"; }

.bloqImgCat {
  grid-area: bloqImgCat; }

.bloqTextCat {
  grid-area: bloqTextCat; }

.imgCat {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border: #c6c6c6 groove 10px; }

.grillaSobNos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "bloqTextSobNos" "bloqVid"; }

.vidSobNos {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 420px;
  height: 236px;
  border: #c6c6c6 groove 10px; }

.bloqTextSobNos {
  grid-area: bloqTextSobNos;
  font-size: 2rem;
  text-align: center; }

.bloqVid {
  grid-area: bloqVid; }

.consulta__titulo {
  font-family: "Mukta", sans-serif;
  font-size: 2.5rem; }

.txtCon {
  font-family: "Mukta", sans-serif; }

.inpCon1 {
  border: #c6c6c6 3px solid;
  font-family: "Rubik Distressed", cursive;
  font-size: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #000000;
  width: 150px;
  height: 25px;
  margin-left: 15px;
  padding: 2px;
  margin-right: 10px;
  opacity: 0.7;
  background-color: #fca311; }

.inpCon2 {
  border: #c6c6c6 3px solid;
  font-family: "Rubik Distressed", cursive;
  font-size: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #000000;
  width: 150px;
  height: 25px;
  margin-left: 15px;
  padding: 2px;
  margin-right: 10px;
  opacity: 0.7;
  background-color: #c6c6c6; }

.inpCon1:hover {
  opacity: 1; }

.inpCon2:hover {
  opacity: 1; }

@media screen and (min-width: 1024px) {
  .navegador {
    display: flex; }
  .navFoot {
    display: flex; }
  .bloqVid {
    display: flex;
    justify-content: center; }
  .vidSobNos {
    width: 840px;
    height: 472px; }
  .secPlat {
    display: flex;
    flex-direction: column;
    width: 99%; }
  .secPlat__item {
    display: flex;
    justify-content: space-around; }
  .inpPlat1 {
    width: 300px;
    height: 100px;
    font-size: 1.5rem;
    margin-right: 30px; }
  .inpPlat2 {
    width: 300px;
    height: 100px;
    font-size: 1.5rem;
    margin-left: 30px; }
  .imgCat {
    width: 1200px;
    height: 500px; }
  .bloqImgCat {
    display: flex;
    justify-content: center; }
  .fontConsulta {
    font-size: 2rem; }
  .fontInpConsulta {
    font-size: 1.5rem;
    width: 400px;
    height: 2rem; }
  .textConsulta {
    font-size: 1.5rem;
    width: 1000px; }
  .inpCon1 {
    font-size: 1.5rem;
    width: 250px;
    height: 50px;
    margin-right: 30px; }
  .inpCon2 {
    font-size: 1.5rem;
    width: 250px;
    height: 50px;
    margin-left: 25px; } }
