.grillaCat {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;

    grid-template-areas:
        "bloqImgCat"
        "bloqTextCat"
    ;


.bloqImgCat {
    grid-area: bloqImgCat;
    .imgCat {
        display: flex;
    
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
    
    
        border: $gris groove 10px;
    }
}
.bloqTextCat {
    grid-area: bloqTextCat;
}
}