@mixin btn_cont ($bgc){
    border: $gris 3px solid;
    font-family: $font_titulos;
    font-size: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $negro;
    width: 150px;
    height: 25px;
    margin-left: 15px;
    padding: 2px;
    margin-right: 10px;
    opacity: 0.7;
    background-color: $bgc;
}

.consulta__titulo {
    
    font-family: $font_general;
    font-size: 2.5rem;
    
}


.txtCon{
    font-family: $font_general;
}



.inpCon1 {
    @include btn_cont ($naranja);
    

}

.inpCon2 {
    @include btn_cont ($gris);

}

.inpCon1:hover {
    opacity: 1;
}

.inpCon2:hover {
    opacity: 1;
}

