@media screen and (min-width: 1024px) {

    .navegador {
        display: flex;
    }

    .navFoot {
        display: flex;
    }

    .bloqVid {
        display: flex;
        justify-content: center;
    }

    .vidSobNos {
        width: 840px;
        height: 472px;
    }

    .secPlat {
        display: flex;
        flex-direction: column;
        width: 99%;
    }

    .secPlat__item {
        display: flex;
        justify-content: space-around;
    }

    .inpPlat1 {
        width: 300px;
        height: 100px;
        font-size: 1.5rem;
        margin-right: 30px;
    }

    .inpPlat2 {
        width: 300px;
        height: 100px;
        font-size: 1.5rem;
        margin-left: 30px;
    }

    .imgCat {
        width: 1200px;
        height: 500px;

    }

    .bloqImgCat {
        display: flex;
        justify-content: center;
    }

    .fontConsulta {
        font-size: 2rem;


    }

    .fontInpConsulta {
        font-size: 1.5rem;
        width: 400px;
        height: 2rem;

    }

    .textConsulta {
        font-size: 1.5rem;
        width: 1000px;
    }

    .inpCon1 {

        font-size: 1.5rem;
        width: 250px;
        height: 50px;
        margin-right: 30px;

    }

    .inpCon2 {

        font-size: 1.5rem;
        width: 250px;
        height: 50px;
        margin-left: 25px;


    }

}