* {
    margin: 1px;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@import './variables';
@import './general';
@import './platillos';
@import './catering';
@import './sobre_nosotros';
@import './contacto';
@import './media';




